/* fonts */
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
/* main styles */

body {
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    font-family: 'BIZ UDMincho', serif;
    color: rgb(255, 255, 255);
}

/* typography */

h1 {
    font-size: 50px;
    font-weight: 700;
}

h2 {
    font-size: 32px;
    font-weight: 700;
}

h3 {
    font-size: 25px;
    font-weight: 700;
}

h4 {
    font-size: 22px;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    font-weight: 600;
}

p {
    font-size: 20px;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    text-align: center;
}

.center-text {
    text-align: center;
}

/* links */

a {
    color: inherit;
    text-decoration: none;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}

.nav-link:hover {
    background-color: rgb(128, 128, 128);
}

/* misc */

.list-style-none {
    list-style: none;
}

.text-padding-top {
    padding-top: 10px;
}

.auto-margin {
    margin: auto;
}

.heading-bg-color {
    background-color: rgb(128, 128, 128);
}

.empty-space-correction {
    min-height: calc(100vh - 270px);
}

/* error 404 page*/

.error-container {
    display: block;
    padding-top: 5vh;
}

.page-not-found {
    text-align: center;
    font-size: 30px;
    padding: 5vh 50px;
}

.home-button {
    display: block;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 20px;
    width: fit-content;
    margin: 5vh auto;
}

/* button code from https://getcssscan.com/ */

.button-styled {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.75em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-styled:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

/* inverse colours of code from http://getscccan.com/ */

.button-styled-inverse {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(204, 204, 204);
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.75em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-styled-inverse:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

/* index page */

/* hero image */

#hero-image-wrapper {
    height: auto;
    width: 100%;
    overflow: hidden;
}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#hero-image {
    width: 100%;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* index page main section */

.index-main-h2 {
    color: rgb(0, 0, 0);
}

.index-main-container {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 20px;
    margin-left: 20px;
}

.index-sub-container {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.index-row {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px;
    box-sizing: border-box;
}

.index-flex-image {
    flex: 0 0 100%;
    max-width: 100%;
    align-items: center;
    padding: 30px 0;
}

.index-message {
    flex: 0 0 100%;
    max-width: 100%;
    margin: auto;
}

.index-message-h2 {
    color: rgb(0, 0, 0);
    margin-right: 20px;
}

.index-message-h2-inverse {
    color: rgb(204, 204, 204)
}

.index-image {
    max-width: 100%;
    margin: auto;
    border: 5px solid rgb(255, 255, 255);
}

.index-image-inverse {
    max-width: 100%;
    margin: auto;
    border: 5px solid rgb(0, 0, 0);
}

.index-p-container {
    display: flex !important;
    justify-content: center;
    box-sizing: border-box;
}

.index-p-text {
    box-sizing: border-box;
    text-align: center;
    color: rgb(0, 0, 0);
}

.index-p-text-inverse {
    box-sizing: border-box;
    text-align: center;
    color: rgb(204, 204, 204);
}

.index-button {
    text-align: center;
    margin: 20px 15px 0 0;
}

.index-button-inverse {
    text-align: center;
    margin: 20px 0 0 0;
}

.section-coloured {
    background-color: rgb(204, 204, 204);
}

/* about us page */

.owner-container {
    width: 100%;
    height: auto;

    display: inline-flex;
    flex-direction: column;
    gap: 16px;

    justify-content: space-evenly;
    align-items: center;

    padding: 0 20px;
}

.owner-signiture {
    font-family: 'Reenie Beanie', cursive;
    font-size: 30px;
    color: rgb(223, 195, 115);
}

/* video embedding code credits to
    tipswithpunch see READme */

#video-container {
    position: relative;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 56.25%;
    height: 0;
}

#video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-margins {
    height: auto;
    overflow: hidden;
    margin: 0 20px;
}

.reviews-container {
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;
}

.review-header {
    margin: 30px 30px 0 30px;
}

.review-box {
    display: inline-flex;
    height: auto;
    width: 250px;
    border: 1px solid rgb(214, 214, 214);
}

.review-card {
    border-radius: inherit;
    height: 525px;
    margin: 10px;
    padding: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(223 195 116);
}

.review-card h3 {
    margin-top: 10px;
}

.review-image {
    width: 100%;
    height: 200px;
    padding: 10px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgb(0, 0, 0);
}

.review-box p {
    font-style: italic;
}

.review-stars {
    list-style: none;
    display: inline-flex;
    padding: 0;
}

.review-stars li {
    flex: 1;
    align-items: stretch;
    justify-content: center;
}

.news-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.news-div {
    border: 5px solid rgb(255, 255, 255);
    height: 150px;
    margin-bottom: 20px;
    transition: transform .2s;
    color: rgb(0, 0, 0);
    background-color: rgb(214, 214, 214);
    padding: 10px;
}

/* menu page */

.menu {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    margin-top: 30px;
}

.menu h2 {
    color: rgb(255, 255, 255);
}

.menu h3 {
    text-decoration: underline;
}

.drink-list {
    flex-wrap: wrap;
    list-style: disc;
    width: 100%;
    padding: 10px 0 0 10px;
    box-sizing: border-box;
}

.menu-image {
    display: flex;
    justify-content: center;
    object-fit: contain;
    max-width: 100%;
    margin: auto;
}

.sticky-header {
    position: sticky !important;
    top: 0;
    background-color: rgb(128, 128, 128);
}

/* gallery page */

#gallery-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#gallery-container>div img {
    flex: 1;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

/* contact us page */

#contact-container {
    display: block;
    box-sizing: border-box;
    margin: 10px;
    text-align: center;
}

/* contact form */

#contact-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
}

.form-input {
    display: block;
    margin: 5px;
    margin-right: 30px;
    font-size: 20px;
}

.form-label {
    display: block;
    text-align: left;
    margin: 5px;
    width: 100%;
}

.form-control {
    display: block;
    text-align: left;
    margin: 5px;
    width: 100%;
}

/* input field colors*/

input[type=text]:focus {
    border: 3px solid rgb(255, 0, 0);
}

input[type=email]:focus {
    border: 3px solid rgb(255, 0, 0);
}

input[type=tel]:focus {
    border: 3px solid rgb(255, 0, 0);
}

input[type=datetime-local]:focus {
    border: 3px solid rgb(255, 0, 0);
}

textarea:focus {
    border: 5px solid rgb(255, 0, 0);
}

#message {
    margin: 5px;
    box-sizing: border-box;
    width: 100%;
}

.submit-button {
    margin: 0 0 15px 0;
}

/* hide this for mobile sizes */
#contact-address {
    display: none !important;
}

#contact-address h2 {
    margin-bottom: 35px;
}

/* find us */

#find-us {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.map-display {
    width: 100%;
    padding: 0 35px;
}

#contact-address {
    display: flex;
    flex: 1;
    width: 100%;
}

/* footer */

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(204, 204, 204);
    color: rgb(0, 0, 0);
    padding-top: 10px;
}

.footer-container h2 {
    color: rgb(0, 0, 0);
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-contact li {
    list-style: none;
    margin: 10px;
    text-align: left;
}

.footer-times {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-times li {
    list-style: none;
    margin: 10px;
    box-sizing: border-box;
    padding-right: 40px;
}

.footer-socials {
    text-align: center;
    justify-content: space-between;
}

.footer-socials div {
    display: inline-block;
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin: 0 30px;
}

.author-info {
    margin: 10px;
    text-align: center;
}

.author-info p {
    font-size: 16px;
}

/* media queries */

@media only screen and (min-width: 700px) {

    /* code to help arrange index page */

    .owner-container {
        padding: 0 100px;
    }

    .index-row {
        display: flex;
        flex-wrap: wrap;
    }

    .index-row-left {
        display: flex;
        padding: 20px;
    }

    .index-flex-image {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .index-flex-image-left {
        order: 2;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .index-message {
        flex: 0 0 50%;
        max-width: 50%;
        /* text-align: right !important; */
        padding-top: 30px;
    }

    .index-message-left {
        flex: 0 0 50%;
        max-width: 50%;
        text-align: left !important;
        /* padding-top: 30px; */
    }

    .index-p-text {
        margin-right: 30px;
    }

    .index-p-text-inverse {
        margin-left: 30px;
    }

    /* about page */

    .news-container {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }

    .news-div {
        height: 150px;
        margin-bottom: 0;
    }
}

/* resposive design larger screens  */

@media only screen and (min-width: 768px) {

    /* 404 error message */

    .page-not-found {
        text-align: center;
        font-size: 50px;
    }

    /* button styled */

    .button-styled {
        padding: 0.25em 0.75em;
    }

    /* index page */

    /* the experience */

    /* #the-experience-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }

    #the-experience-container div {
        width: 95%;
        align-items: baseline;
        margin-top: 10px;
    }

    #the-experience-container p {
        margin: 0 10px;
        text-align: center;
    }

    #the-experience-container img {
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.35);
    } */

    /* to fit height to width ratio */

    .video-margins {
        height: auto;
        overflow: hidden;
        margin: 0 20vh;
    }

    /* about */

    .reviews-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }

    .about-us-block {
        display: inline-flex;
    }

    .bartender-image {
        text-align: center;
        padding: 20px;
        object-fit: fill;

    }

    /* credits to w3cschools.com for webkits */

    .news-div:hover {
        -ms-transform: scale(1.1);
        /* IE 9 */
        -webkit-transform: scale(1.1);
        /* Safari 3-8 */
        transform: scale(1.1);
}

    /* menu */

    .menu-sub-section {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu-sub-section-reverse {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .drink-list-flex-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    /* gallery */

    #gallery-container {
        display: block;
        clear: both;
        line-height: 0;
        column-count: 2;
        column-gap: 0;
    }

    #gallery-container>img {
        width: 50%;
    }

    /* contact */

    #contact-container {
        display: flex;
        flex-direction: row;
        width: auto;
        margin-top: 50px;
        margin-left: 25px;
    }

    #contact-form {
        flex: 1;
        box-sizing: border-box;
        width: 50%;
    }

    #find-us {
        flex: 1;
        width: 50%;
        padding: 10px;
    }

    #contact-address {
        display: unset !important;
        padding-top: 30px;
        text-align: left;
        box-sizing: border-box;
        line-height: normal;

        border: 35px solid rgb(0, 0, 0);
        box-shadow: inset 0px 0px 0px 3px rgb(128, 128, 128);
        box-sizing: border-box;
    }

    #map {
        padding: 0;
    }

    #contact-address div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 0;
        justify-content: center;
    }

    .block-newline {
        display: block !important;
        text-align: center;
    }

    /* footer */

    .footer-container {
        display: flex;
        flex-direction: row;
    }

    .footer-contact {
        flex: 1;
        order: 1;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .footer-times {
        flex: 1;
        order: 2;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .socials-flex {
        flex: 1;
        order: 3;
    }
}

@media only screen and (min-width: 1000px) {

    /* index page */

    /* hero-image adjustment */

    #hero-image-wrapper {
        height: 600px;
        width: 100%;
        overflow: hidden;
    }

    p {
        font-size: 20px;
    }
}