/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


/* main styles */

body {
    margin: 0;
    background-color: black;
}

h1 {
    color: brown;
}


/* nav bar styles */

#nav-bar {
    list-style: none;
    float: right;
}

#nav-bar li {
    display: inline;
    
}

#nav-bar a {
    text-decoration: none;
    color: yellow;
    /*font-family: 'Lobster', cursive;*/
    /*font-family: 'Bangers', cursive;*/
    font-family: 'Caveat', cursive;
    font-size: 1rem;
    margin-right: 20px;
}

#nav-bar a:hover {
    color: blue;
}


/* hero image */

#hero-image-wrapper {
    width: 100%;
    height: 230px;
    overflow: hidden;
    border: 2px solid rgb(114, 36, 36);
}

#hero-image {
    width: 100%;
    object-fit: contain;
}

/* the worlds best bar section */

#best-bar {
    width: 100%;
    height: 600px;
    border: 2px solid black;
}

#best-bar h2 {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 1rem;
    color: yellow;
}

/* the experience section */

#the-experience {
    width: 100%;
    height: 600px;
    border: 2px solid black;
}

#the-experience h1 {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 1rem;
    color: yellow;
}

/* footer */

footer {
    height: 50px;
    width: 100%;
    text-align: center;
    top: 50;
    color: yellow;
}

#footer-left {
    display: inline-block;
    width: 32%;

}

#footer-center {
    display: inline-block;
    width: 32%;
}

#footer-right {
    display: inline-block;
    width: 32%;
}